<!DOCTYPE html>
<html ng-app="my-app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.css">
  <script src="js/angular1.5.8.js"></script>
  <script src="js/index.js"></script>
</head>
<body>
  <div class="wrap" ng-controller="my-controller">
    <div class="content">
      <div id="procedure">
        <h3 class="fl">我的购物车</h3>
        <div class="img fr">
          <span class="span1">1、我的购物车</span>
          <span class="span2">2、填写订单</span>
          <span class="span3">3、完成订单</span>
        </div>
      </div> 
      <div id="ShoppingCartInfo">
        <div class="fl">
          <input type="checkbox" ng-checked="allIsSelect()" ng-click="allSelect($event)" class="select-all">全选
        </div>
        <span class="fl">商品</span>
        <ul class="fr clearfix">
          <li class="unit-price">
            <i>|</i>
            单价
          </li>
          <li class="quantity">
            <i>|</i>
            数量
          </li>
          <li class="calculation">
            <i>|</i>
            小计
          </li>
          <li class="operating">
            <i>|</i>
            操作
          </li>
        </ul>
      </div>
      <div id="ShoppingCartList">
        <div class="commodity" ng-repeat="shop in shops" ng-show="shop.commodityList.length > 0">
          <div class="seller-shop">
            <input type="checkbox" ng-checked="shopAllCommodityIsSelect(shop.commodityList)" ng-click='shopAllCommoditySelect(shop.commodityList, $event)' />
            <span>
              <b>店铺：</b>{{shop.shopname}}
            </span>
          </div>
          <div class="commodity-list" ng-repeat="commodity in shop.commodityList">
            <div class="fl">
              <input type="checkbox" ng-model="commodity.selected" class="select-product" />
            </div>
            <dl>
              <dt>
                <img ng-src="images/{{commodity.img}}">
              </dt>
              <dd class="sc-t">
                <a href="">{{commodity.name}}</a>
              </dd>
            </dl>
            <a href="" ng-click="del(shop.commodityList, $index)" class="fr delete sc-opera">删除</a>
            <div class="fr sc-calculation calculation">
              <p>￥
                <span class="sc-txt">{{commodity.count * commodity.price}}</span>
              </p>
            </div>
            <div class="fr sc-quantity quantity">
              <button class="cut" ng-disabled="commodityList.count==1" ng-class="{red: commodity.count==1}" ng-click="reduce(commodity);"></button>
              <input type="text" ng-model="commodity.count"  class="input-quantity">
              <button class="add" ng-click="add(commodity);"></button>
            </div>
            <div class="fr sc-price price">
              <p class="value">￥
                <span class="price-txt">{{commodity.price}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix" id="Settlement">
        <div class="wrap">
          <div class="fl">
            <input type="checkbox" ng-checked="allIsSelect()" ng-click="allSelect($event)" class="select-all" />全选
          </div>
          <div class="fl">
            <p>不含运费和进口税
            </p>
          </div>
          <div class="fr total-price">
            <p>应付金额：
              <b>￥<span>{{totalPrice()}}</span></b>
            </p>
          </div>
          <div class="fr">
            <p>已选<span>{{totalQuantity()}}</span>件商品</p>
          </div>
        </div>
      </div>     
    </div>
  </div>
</body>
</html>